<app-nav></app-nav>
<div class="signupFrm">
    <form action="" class="form">

       <div class="flex ">
         
         <h2 class="down30 top20">Registro</h2>

         <div class="logo2">
            <img src="assets/img/registro.png" alt="">
        </div>
        
       </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Email</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Dni</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Contraseña</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Confirmar Contraseña</label>
        </div>

        <div class="flex mb-4 mt-5 anone">
            <input type="submit" class="submitBtn" value="Registrarse">
            <a href=""><input type="button" class="submitBtn" value="Back Login"></a>
        </div>
    </form>
</div>