<div class="container">
    <nav class="flex">
      <div class="logo">
        <ul class="flex">
          <li class="logo"><img src="assets/img/ar-prog_logo.png" alt="" /></li>
          <li class="titulo">Argentina Programa</li>
        </ul>
      </div>
  
      <div class="menu">
        <ul class="flex items">
          <li><a href="https://api.whatsapp.com/send?phone=3454013565" target="blank"><img src="assets/img/incon_wapp.png"
                alt="" /></a></li>
          <li><a href="https://github.com/gaboqu" target="blank"><img src="assets/img/icon_git.png" alt="" /></a></li>
          <!-- <li class="btn_login"><a href="">home</a> </li> -->
        </ul>
      </div>
    </nav>
  </div>